:root {
    --root-font-size: 18px;
    --root-font-weight: 700;
    --root-font-color: rgb(204, 140, 20);
    --root-font-shadow: 1px 1px 1px black;
    --a-color: rgb(37, 146, 146);

    --main-thematic-bg-color: rgb(2, 0, 36, 0.7);
    --main-thematic-bg-color-transparent: rgb(2, 0, 36, 0);
    --contact-card-bg-color:  rgba(2, 1, 19, 0.7);
    --title-font-size: 2.1em;
    --title-font-color: rgb(204, 140, 20);
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    color: var(--root-font-color);
    text-shadow: var(--root-font-shadow);
    background-image: url(./images-coppergold/blue-light.jpg);
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;   
}

.page-wrap {
    display: grid;
    justify-content: center;
    animation: content-trans 2s forwards;
}

@keyframes content-trans {
    from {
        opacity: 0%;
    }

    20% {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

a {
    color: var(--a-color);
}

img {
    width: 60vw;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 7px 7px 8px black;
}

.title {
    background-color: var(--main-thematic-bg-color);
    font-size: var(--title-font-size);
    color: var(--title-font-color);
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    width: fit-content;
    margin: 2vh;
    border-radius: 10px;
    justify-self: center;

    position: sticky;
    top: 0px;
    z-index: 1;
 }

 .header {
    margin-bottom: 3vh;
    padding: 1.5vw;
    animation: head-bg-trans 2s forwards;
    text-align: center;
    width: 90vw;
    border-radius: 20px;
    justify-self: center;
    border: 1px solid white;
    letter-spacing: 1px;
}

@keyframes head-bg-trans {
    from {
        background-color: var(--main-thematic-bg-color-transparent);
    }

    50% {
        background-color: var(--main-thematic-bg-color-transparent);
    }

    to {
        background-color: var(--main-thematic-bg-color);
    }
}

.intro-text {
    display: flex;
    flex-direction: column;
}

.contact {
    border: 1px solid white;
    border-radius: 10px;
    background-color: var(--contact-card-bg-color);
    padding: 2vh;
    align-self: center;
    width: fit-content;
    text-align: start;

}

.feed {
    display: grid;
}

.feed-title {
    font-size: 1.4em;
    text-align: center;
    width: 90%;
    background-color: var(--main-thematic-bg-color);
    border-radius: 5px;

    align-self: center;
    justify-self: center;
}

.feed>ul {
    display: grid;
    justify-items: center;
    /* align-content: center;   */
    gap: 7vh;
}

.feed-item-desc {
    animation: head-bg-trans 2s forwards;
    /* height: 5vh; */
    padding: 1vh;
    text-align: center;
    align-items: center;
    align-self: center;
    width: fit-content;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid white;
    margin: 2vh;
}

.feed-item {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    padding-top: 25px;
    width: 85vw;
}

.no-bullets {
    padding: 0;
    list-style: none;
    display: grid;
    gap: 2vh;
}

.slide-left-center {
    animation: slide-left 1.3s forwards;
}

.slide-left-center-2 {
    animation: slide-left 1.6s forwards;
}

.slide-left-center-3 {
    animation: slide-left 1.9s forwards;
}

@keyframes slide-left {
    from {
        transform: translateX(-100%);
    }

    50% {
        /* transform: translateY(-350%);    */
    }

    to {
        transform: translateX(0%);
    }
}

.footer {
    text-align: center;
    width: fit-content;
    justify-self: center;
    border-radius: 10px;
    margin: 1vh;
    display: grid;
    gap: 2vh;

}


@media (min-width: 500px) {

    body {
        font-size: calc(20px + 0.3vw);
    }

    .title {
        font-size: calc(var(--title-font-size) + 0.4vw); 
        padding: 1.5vw;
        padding-top: 1vw;
    }

    .header {
        width: 50vw;
    }

    img {
        width: 30vw
    }

    .feed-title {
        /* font-size: 1.3em; */
        width: 65%;
        padding: 0.7vw;
    }

    .feed-item {
        width: 60vw;
    }

    .contact {
        /* display: grid; */

    }

}

#lilChris {
    width: 30vw;
    height: auto;
    justify-self: center;
}